<div class="d-flex h-100 text-center text-bg-body border border-5 border-gradient">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <app-header class="mb-auto"></app-header>

        <app-sidebar></app-sidebar>

        <main class="px-3 rounded-3 shadow bg-body bg-opacity-10 p-4 d-flex flex-column align-items-center">
            <h2 class="text-font text-body text-uppercase mb-auto">Update proposal</h2>
            <form [formGroup]="proposalCreateForm" class="w-75 px-2 mb-auto overflow-auto mt-3">
                <div *ngIf="errorStatus" class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert">
                    <div>{{successMessage}}</div>
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-lg btn-gradient text-uppercase text-font fs-4 w-100" data-bs-toggle="modal"
                        data-bs-target="#activitiesModal"><i class="bi bi-check2-square"></i>
                        Select Activities</button>
                </div>

                <div class="mb-3 text-start">
                    <h4 class="p-0 m-0 me-auto"><span
                            class="badge rounded-4 text-font text-uppercase"
                            [class.bg-danger]="this.selectedActivities.length == 0"
                            [class.bg-success]="this.selectedActivities.length > 0">Selected activities: {{this.selectedActivities.length}}</span>
                    </h4>
                </div>

                <div class="mb-3">
                    <input formControlName="name" type="text" class="form-control border border-3 p-2" name="formId1"
                        id="formId1" placeholder="Title">
                </div>
                <div class="mb-3">
                    <input formControlName="description" type="text" class="form-control border border-3 p-2"
                        name="formId1" id="formId1" placeholder="Description">
                </div>



                <div class="d-flex justify-content-center">
                    <button (click)="createProposal(proposalCreateForm.value)"
                        class="btn btn-gradient col-md-6 btn-lg mx-2"><span
                            class="text-font text-light text-uppercase fw-lighter"><i class="bi bi-download"></i>
                            Create</span></button>
                </div>
            </form>

            <div class="modal fade" id="activitiesModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-4 text-font text-uppercase" id="exampleModalLabel">Add
                                Activities</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body h-25">

                            <app-activity-index [proposalViewConfig]="true"
                                (selectedActivitiesChange)="recieveSelectedActivities($event)"></app-activity-index>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-gradient text-font text-uppercase"
                                data-bs-dismiss="modal"><i class="bi bi-check-square"></i> Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <app-footer class="mt-auto" [footerMessage]="footerMessage"></app-footer>
    </div>
</div>